@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tilt Neon;
    border: 0;
    outline: 0;
}
html{
    max-width: 1500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* Header of page */
body{
    width: 100%;
    background-color: rgb(156, 0, 104);
}
header{

    width: 100%;
    height: 50px;
    background-color: rgb(156, 0, 104);
    border-bottom: 1px solid white;
    display: flex;
}
.header_1{

    height: 100%;
    width: 80%;
    margin: auto 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.header_1 a{
    color: white;
}
.header_2{

    display: flex;
    justify-content: end;
    margin-right: 20px;
    align-items: center;
    width: 20%;
    font-size: 20px;
}
.header_2 a{

    cursor: pointer;
    color: white;
    text-decoration: none;
}
header div a{

    margin: auto 20px;
}
.icon{

    width: 50px;
    height: 50px;
}

/* settings of box */

.box{

    width: 230px;
    height: 330px;
    background-color: #cbcecf;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    transition: .3s;
}
.box:hover{

    box-shadow: 0px 0px 7px black;
}
.img{

    height: 170px;
    width: 220px;
    margin: 11px;
    border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.title-box{

    width: 100%;
    height: 40px;
    color: black;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    
}
.preco{

    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
}
.ex-preco{
    width: 100%;
    height: 15px;
    text-align: start;
    font-size: 12px;
    /* padding-left: 30px; */
    color: black;
}
/* box in novidades*/

.box-nov{

    height: 250px;
    width: 320px;
    border-radius: 10px;
    margin: 20px;
    background-color: #cbcecf;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }
 .box-nov:hover{

    box-shadow: 0 0 10px black;
    transition: .7s;
 }
 .box-nov p{

    width: 100%;
    text-align: center;
    font-size: 20px;
    color: rgb(156, 0, 104);
 }
 .box-nov span{

    font-size: 70px;
    color: rgb(156, 0, 104);
 }

 /* box-stores */

.box-stores{

    outline: 2px solid #cbcecf;
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}
.box-stores:hover{

    box-shadow: 0 0 10px black;
    transition: .3s;
}
.img-box-store{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
 /* settings of page */

.line-of-options{ /* Line bottom of options */

    text-decoration: none;
}
.line-of-options:hover{

    text-decoration: underline;
}
.title{ /* title of page */

    margin: 20px 50px;
    width: 100%;
    color: white;
}
.button{

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 200px;
    border-radius: 20px;
    height: 40px;
    background-color: black;
    color: white;
    transition: .3s;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.94);
}
.msg-product{

    padding: 0 20px;
    display: flex;
    height: 200px;
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    outline: 2px solid white;
    color: white;
    font-size: 20px;
}
.msg-product a{

    font-size: 15px;
    color: white;
}
.box-p{

    width: 500px;
    height: 130px;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    margin: 10px;
}
.box-p:hover{

    box-shadow: 0 0 7px black;
}
.photo{

    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}
.nome-p{
    margin: 10px;
    width: 200px;
    color: rgb(156, 0, 104);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.preco-p{

    width: 80px;
    color: rgb(156, 0, 104);
}
.edit{

    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0 5px;
    color: white;
    display: flex;
    place-items: center;
    text-align: center;
    cursor: pointer;
}
.edit{
    background-color: rgb(39, 39, 201);
    text-decoration: none;
    padding: 16px;
    transition: .3s;
}
.edit:hover{
    background-color: rgb(9, 9, 171)
}