@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    margin: 0;
    border: 0;
    font-family: "Tilt Neon";
    box-sizing: border-box;
}
html, body{

    width: 100%;
    height: 100vh;
    background-color: rgb(156, 0, 104);
}

/* Line bottom of options */

.line-of-options{

    text-decoration: none;
}
.line-of-options:hover{

    text-decoration: underline;
}
/* Heade of page */
header{

    width: 100%;
    height: 50px;
    background-color: rgb(156, 0, 104);
}
header div{

    height: 100%;
    width: 50%;
    margin: auto 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
header div a{

    margin: auto 20px;
}
/* Main page */
main{

    width: 100%;
}
#background_1{

    width: 100%;
    height: 500px;
    background: url(photos/main-page/photo-1-main-page.png);
    background-size: cover;
    background-position: center ;
}
#help-in-search{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.help-in-search-box{ /* box from img and title */

    width: 230px;
    height: 330px;
    background-color: #cbcecf;
    margin: 40px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px black;

}
.img-box-help-in-search{ /* img of box */

    height: 90%;
    width: 90%;
    margin: 11px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
}
.img-box-help-in-search img{ /* editing the image */

    height: 100%;
    width: 100%;
    object-fit: cover;
}
.title-of-box{

    text-align: center;
    height: 20px;    
    margin-bottom: 30px;
}
.help-in-search-box button{ /* button of box */

    height: 40px;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.help-in-search-box button:hover{

    background-color: rgba(0, 0, 0, 0.95);
    transition: .3s;
}

/* Box of options */

.help-in-search-box button{

    margin: 15px;
    width: 200px;
}
.help-in-search-box p{
    
    padding: 10px;
    text-align: center;
}
.help-in-search-box h3{

    margin-top: 10px;
    text-align: center;
}
/* carrossel */

.carrossel{

    width: 100%;
    height: 400px;
}
/* info of page */
.info{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* footer of page */
footer{

    width: 100%;
    height: 100px;
    background-color: rgb(156, 0, 104);
    box-shadow: 0px 0px 10px black;
    display: flex;
    align-items: center;
    justify-content: end;
}
#opcoes{

    display: grid;
    width: 150px;
    font-size: 13px;
}

