@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{

    margin: 0;
    border: 0;
    font-family: "Tilt Neon";
    box-sizing: border-box;
}
html{

    background-color: rgb(156, 0, 104);
}
/* Top from the screen */

header{

    background-color: rgb(93, 0, 62);
    height: 70px;
    width: 100%;
   
}
header div{

    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
header div a{

    text-decoration: none;
    color: white;
    margin: 30px;
}
header div a:hover{

    text-decoration: underline;
}
#user{
    position: absolute;
    right: 40px;
    top: 23px;
    font-size: 25px;
    cursor: pointer;
    color: white;

}
#user:hover{

    transform: scale(1.1);
    transition: 0.5s;
}

/* Primary part from the page, box from the login and background 1 */

#main-page{

    width: 100%;
    height: 650px;
    background: url('./photos/main-page/photo-1-main-page.png');
    background-size: cover;
    background-position-x: left;
    display: flex;
    align-items: center;
    justify-content: end;  
}
#box-login{

    height: 500px;
    width: 400px;
    background-color: rgb(93, 0, 62, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#box-size-login{
    
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
    
}
#email{

    height: 30px;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 20px 0;
}
#password{

    height: 30px;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 20px 0;
}
#button-login{

    margin: 20px 0;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(93, 0, 62);
    
}
#button-login:hover{

    background-color: rgb(93, 0, 62, 0);
    color: white;
    transition: 0.2s;
    border: 1px solid white;
}
#button-login:active{
    background-color: white;
    color: rgb(93, 0, 62);
}
main div a {

    color: white;
    text-decoration: none;
}
main div a:hover{

    text-decoration: underline; 
}

/* Part of the promotions e best stores */

/* The Best stores */

#best-stores-and-promotions{

    width: 100%;
    background: linear-gradient(to bottom, rgb(93, 0, 62), rgb(156, 0, 104) );
    
}
section #best-stores h2{

    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
}
#best-stores{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;

}
section #best-stores div{

    height: 100px;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 50px 10px 50px 10px;
    float: left;
    border-radius: 5px;
    cursor: pointer;
}
section #best-stores div:hover{

    border: 1px solid rgba(255, 255, 255);
    transition: 0.5s;
}

/* Promotions of store */

#promotions{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
#promotions h2{

    color: white;
    width: 100%;
    margin-left: 30px;
    margin-bottom: 30px;
}
#promotions div{

    height: 250px;
    width: 200px;
    margin: 50px 10px 50px 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
#promotions div:hover{

    border: 1px solid white;
    transition: 0.5s;
}

/* Outers */

#outers{

   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
section #outers h2{

    width: 100%;
    margin-left: 30px;
    margin-top: 10px;
    color: white;
    
}
section #outers div{

    height: 400px;
    width: 270px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 50px 10px 50px 10px;
    float: left;
    border-radius: 5px;
    cursor: pointer;
}
section #outers div:hover{

    border: 1px solid white;
    transition: 0.5s;
}
/* footer of page */

footer{

    width: 100%;
    height: 100px;
    background-color: rgb(156, 0, 104);
    box-shadow: 0px 0px 10px black;
    display: flex;
    align-items: center;
    justify-content: end;
    
}
footer div a{

    text-decoration: none;
}
#opcoes{

    display: grid;
    width: 150px;
    font-size: 13px;
     
}
#footer_qs:hover{

    text-decoration: underline;
    
}
#footer_suporte:hover{

    text-decoration: underline;
}
#footer_wpp:hover{

    text-decoration: underline;
}
#footer_instagram:hover{

    text-decoration: underline;
    
}

/* Screen with a maximum width of 768 pixels */

@media (max-width: 768px){

    /* Header of page */

    header div a{

        text-decoration: none;
        color: white;
        margin: 10px;
    }

    /* Centralize the box */

    #main-page {

        display: flex;
        align-items: center;
        justify-content: center;  
    }
    #box-login{

        margin: 0;
    }

/* reduce of box */

    section #best-stores div{

        height: 70px;
        width: 140px;
        margin: 50px 10px 50px 10px;
        
    }
    section #promotions div{

        height: 150px;
        width: 100px;
    }
    section #outers div{

        height: 240px;
        width: 150px;
    }
    /* Centralize of title */

    section section{

        text-align: center
    }
    

}
