main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
form{

    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    outline: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 30px;
}
label{

    width: 100%;
    height: 20px;
    text-align: center;
}
input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
}
button[type='submit'], .btn{

    width: 80%;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
    color: rgb(93, 0, 62);
}
button[type='submit']:hover{

    background-color: rgb(93, 0, 62);
    color: white;
}
#msg{
    width: 100%;
    font-size: 12px;
    color: red;
    text-align: center;
    text-shadow: 0 0 7px black;
}